/* For OverlayBackground */
@keyframes OverlayBackgroundIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes OverlayBackgroundOut
  0%
    opacity: 1
  100%
    opacity: 0


/* For OverlayMenu */
@keyframes OverlayMenuIn
  0%
    scale: 0.95
    rotate: -2deg
    transform: translateY(32px)
  100%
    scale: 1
    rotate: 0deg
    transform: translateY(0)

@keyframes OverlayMenuOut
  0%
    rotate: 0deg
    scale: 1
    transform: translateY(0)
  100%
    rotate: 2deg
    scale: 0.9
    transform: translateY(32px)

/* For QuickPanel */
@keyframes HidePanel
  0%
    opacity: 1
    transform: translateX(0)
  100%
    opacity: 0
    transform: translateX(-100%)

@keyframes ShowPanel
  0%
    opacity: 0
    transform: translateX(-100%)
  100%
    opacity: 1
    transform: translateX(0)

@keyframes HideMobilePanel
  0%
    opacity: 1
    scale: 1
    transform: translateY(0)
  50%
    opacity: 0
  100%
    opacity: 0
    scale: 0.5
    transform: translateY(-100%)

@keyframes ShowMobilePanel
  0%
    opacity: 0
    scale: 0.75
    transform: translateY(-50%)
  100%
    scale: 1
    opacity: 1
    transform: translateY(0)

@keyframes FromBelow
  0%
    opacity: 0
    transform: translateY(32px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes FromAbove
  0%
    opacity: 0
    transform: translateY(-32px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes FromLeft
  0%
    opacity: 0
    transform: translateX(-32px)
  100%
    opacity: 1
    transform: translateX(0)


/* For BreathingPicture */
@keyframes BreathingPictureFg
  0%
    filter: brightness(1)
  100%
    filter: brightness(1.25)

@keyframes BreathingPictureBg
  0%
    filter: blur(10px)
  100%
    filter: blur(20px)