@keyframes Background
  0%
    opacity: 0
  33%
    opacity: 1
  100%
    opacity: 1

@keyframes BackgroundAway
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 0


@keyframes Overlay
  0%
    transform: translateY(100%)
  50%
    transform: translateY(-5%)
  100%
    transform: translateY(0%)

@keyframes OverlayAway
  0%
    rotate: 0deg
    transform: translateY(0%)
  100%
    rotate: 15deg
    transform: translateY(100%)

@keyframes FromBelow
  0%
    filter: blur(5px)
    opacity: 0
    transform: translateY(10%)
  100%
    filter: blur(0px)
    opacity: 1
    transform: translateY(0%)

@keyframes Breath
  0%
    filter: brightness(1)
  100%
    filter: brightness(1.25)

@keyframes BreathBlur
  0%
    filter: blur(10px)
  100%
    filter: blur(20px)