html:root
  --radius-small: 16px
  --radius-med: 24px
  --radius-inf: 999px

  --icont-filter: brightness(0%)
  --trans: all ease-in-out 0.33s

html:root[data-theme="sage"]
  --background: #ffffff
  --bgimg: url('/bg/sage.jpg')
  --side: #fcf5ff
  --surface: #fae7ff
  --widget: #f2c7ff
  --hover: #ffdd94
  --active: #ffd83a
  --text: #202020
  --filter: brightness(0) saturate(100%) invert(31%) sepia(95%) saturate(1728%) hue-rotate(253deg) brightness(99%) contrast(105%)

html:root[data-theme="solstice"]
  --background: #1b102f
  --bgimg: url('/bg/solstice.jpg')
  --side: #251239
  --surface: #30144a
  --widget: #4d2572
  --hover: #b82e97
  --active: #ff185d
  --filter: brightness(0) saturate(100%) invert(60%) sepia(99%) saturate(2157%) hue-rotate(223deg) brightness(100%) contrast(102%)
  --text: #FFF
  --text-important: #ffcadb


html:root[data-theme="stars"]
  --background: #070517
  --bgimg: url('/bg/stars.jpg')
  --side: #0c0b27
  --surface: #131236
  --widget: #1e1d56
  --hover: #004487
  --active: #009bff
  --filter: brightness(0) saturate(100%) invert(56%) sepia(36%) saturate(632%) hue-rotate(209deg) brightness(106%) contrast(102%)
  --text: white

html:root[data-theme="comet"]
  --background: #002628
  --bgimg: url('/bg/comet.jpg')
  --side: #002d30
  --surface: #004346
  --widget: #006165
  --hover: #00805a
  --active: #09BC8A
  --filter: invert(42%) sepia(32%) saturate(2508%) hue-rotate(142deg) brightness(100%) contrast(101%)
  --text: white

html:root[data-theme="oled"]
  --background: #000000
  --bgimg: url('/bg/oled.jpg')
  --side: #080808
  --surface: #101010
  --widget: #202020
  --hover: #6262aa
  --active: #a7a7ff
  --filter: brightness(999%)
  --text: white