@keyframes Attention {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Background {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes Menu {
    0% {
        transform: translate(-50%,100%);
    }
    100% {
        transform: translate(-50%,0%);
    }
}

@keyframes BottomPanel {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes LeftPanel {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes RightPanel {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateY(0%);
    }
}