:root[data-theme="sage"] {
    --bg-image: url('/bg/sage.jpg');
    --background: #ffffff;
    --widget: #fff2f5;
    --event: #ffdfe6;
    --widget-hover: #ffbac9;
    --img-filter: brightness(0) saturate(100%) invert(66%) sepia(64%) saturate(6018%) hue-rotate(313deg) brightness(103%) contrast(101%);
    --imp-filter: brightness(0) saturate(100%) invert(31%) sepia(41%) saturate(500%) hue-rotate(41deg) brightness(93%) contrast(90%);
    --important: #cfff7d;
    --text: #222;
    --text-important: #495b2c;
}

:root[data-theme="solstice"] {
    --bg-image: url('/bg/solstice.jpg');
    --background: #1b102f;
    --widget: #361a50;
    --event: #4d2572;
    --widget-hover: #69329b;
    --img-filter: brightness(0) saturate(100%) invert(60%) sepia(99%) saturate(2157%) hue-rotate(223deg) brightness(100%) contrast(102%);
    --imp-filter: brightness(0) saturate(100%) invert(78%) sepia(7%) saturate(1082%) hue-rotate(295deg) brightness(107%) contrast(101%);
    --important: #ff185d;
    --text: #FFF;
    --text-important: #ffcadb;
}

:root[data-theme="stars"] {
    --bg-image: url('/bg/stars.jpg');
    --background: #0c0b23;
    --widget: #131236;
    --event: #1e1d56;
    --widget-hover: #312e8c;
    --imp-filter: brightness(0) saturate(100%) invert(25%) sepia(88%) saturate(967%) hue-rotate(8deg) brightness(100%) contrast(101%);
    --img-filter: brightness(0) saturate(100%) invert(60%) sepia(99%) saturate(1489%) hue-rotate(204deg) brightness(92%) contrast(100%);
    --important: #ffc400;
    --text: #FFF;
    --text-important: #884800;
}

:root[data-theme="oled"] {
    --bg-image: url('/bg/oled.jpg');
    --background: #000;
    --widget: #111;
    --event: #000;
    --widget-hover: #222;
    --imp-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1155%) hue-rotate(208deg) brightness(115%) contrast(100%);
    --img-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1155%) hue-rotate(208deg) brightness(115%) contrast(100%);
    --important: #222;
    --text: #FFF;
    --text-important: #FFF;
}

:root {
    --root-padding: 16px;
    --blur: blur(20px);
    --widget-radius: 16px;
    --button-radius: 16px;
    --event-width: 375px;
    --transition: ease-out 0.25s;
}