:root[data-theme="sage"] {
    --bg-image: url('/bg/sage.jpg');
    --background: #ffffff;
    --widget: #fff2f5;
    --widget-hover: #ffd5df;
    --important: #cfff7d;

    --text: 202020;
    --text-important: white;
}

:root {
    --root-padding: 16px;
    --blur: blur(20px);
    --widget-radius: 16px;
    --button-radius: 16px;
}