@import 'base.css';
@import "animations.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


@media screen and (min-width: 1025px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 3vw;
    }
}

body {
    font-family: "Montserrat", system-ui, sans-serif;
    color: var(--text);
    background: var(--background);
}

*::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background: var(--important);
    border: 2px solid transparent;
}

.small {
    font-size: 0.9em;
    opacity: 75%;
}