@import 'base'
@import 'animations'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

body
  margin: 0
  color: var(--text)
  background: var(--bgimg) no-repeat center center
  background-size: cover
  font-family: 'Montserrat', sans-serif
  font-weight: 500
  font-size: 0.9em

#__nuxt
  display: flex
  align-items: stretch
  justify-content: stretch
  width: 100vw

  @media (min-width: 801px)
    height: 100vh
    flex-direction: row

  @media (max-width: 800px)
    min-height: 100vh
    flex-direction: column-reverse

*
  margin: 0
  box-sizing: border-box

  &::-webkit-scrollbar
    width: 6px
    height: 6px

  &::-webkit-scrollbar-track-piece
    display: none

  &::-webkit-scrollbar-thumb
    background-color: var(--button)
    border-radius: var(--radius-inf)

.displayOnMobile
  @media (min-width: 801px)
    display: none !important

.displayOnDesktop
  @media (max-width: 800px)
    display: none !important